<!Doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Все люди</title>
</head>
<body>
<p>Список людей:</p>
<div th:each="person : ${people}">
  <a th:href="@{/people/{id}(id=${person.getId()})}"
     th:text="${person.getName() + ', ' + person.getAge()}"
  >user</a>
</div>
<br/>
<hr/>
<a href="/people/new">Создать нового человека</a>
<br/>
<a href="/test-batch-update">Тестирование производительности запросов</a>
<br/>
<a href="/admin">Администрирование</a>
</body>
</html>