<!Doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Тестирование производительности запросов</title>
</head>
<body>
<p>Тестирование производительности</p>
<a href="/test-batch-update/without">Обычное обновление (1000 запросов)</a>
<br/>
<a href="/test-batch-update/with">Пакетное обновление (1 запрос)</a>
<br/>
<a href="/test-batch-update/delete-all">Удалить все строки</a>
<br/>
<br/>
<a href="/people">Вернуться к списку</a>
</body>
</html>